openapi: 3.2.0
info:
  description: Layanan OAuth 2.0 / OIDC Authorization Server untuk mengakses UGM API.
  title: UGM ID Me API
  version: '2.0'
servers:
- description: Production Server
  url: https://oauth.simaster.ugm.ac.id
- description: Development Server
  url: https://oauth.dev.ugm.ac.id
tags:
- name: Me
paths:
  /api/me:
    get:
      description: Mengambil username, email, nama, picture, provider. Scope `user.read` diperlukan.
      operationId: getMe
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserData'
          description: Data user berhasil
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      security:
      - BearerAuth: []
      summary: Data User — Profil Dasar
      tags:
      - Me
components:
  schemas:
    UserData:
      description: Profil dasar user dari /api/me
      properties:
        email:
          example: johndoe@ugm.ac.id
          type: string
        family_name:
          type: string
        given_name:
          type: string
        name:
          type: string
        picture:
          type: string
        provider:
          enum:
          - cas_sso
          - google
          - microsoft
          - facebook
          - linkedin
          - apple
          type: string
        username:
          example: johndoe
          type: string
      type: object
    ErrorResponse:
      properties:
        error:
          type: string
        error_description:
          type: string
        message:
          type: string
      type: object
  responses:
    Forbidden:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: Scope tidak mencukupi atau akses ditolak
    Unauthorized:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: Token tidak valid atau tidak disertakan
  securitySchemes:
    BasicAuth:
      description: client_id:client_secret via Basic Auth header
      scheme: basic
      type: http
    BearerAuth:
      bearerFormat: JWT
      description: Access token JWT dari /oauth/token
      scheme: bearer
      type: http
