# x-archived-from: gadjah-mada-university-journal-oai-pmh-openapi.yml
# x-archived-on: 2026-09-16
# generated: '2026-09-01'
# method: derived
# source: >-
#   Derived on 2026-09-01 from the OAI-PMH 2.0 protocol specification bound to the live, verified
#   endpoint at https://journal.ugm.ac.id/index/oai. Verbs exercised live: Identify (200,
#   repositoryName "Jurnal Universitas Gadjah Mada", adminEmail bpp.jurnal@ugm.ac.id, gzip/deflate
#   compression advertised), ListMetadataFormats (200, five prefixes), ListSets (200, 100 setSpecs
#   in the first page — one per journal/section), ListRecords (200, 100 records in the first page).
#   UGM publishes no OpenAPI for this endpoint; this is OUR derivation of a standardised protocol.
# x-operator: institution
openapi: 3.1.0
info:
  title: UGM Journals OAI-PMH
  version: '2.0'
  description: >-
    OAI-PMH 2.0 metadata harvesting interface for "Jurnal Universitas Gadjah Mada", UGM's
    university-wide scholarly journal platform running Open Journal Systems 2.4.8.1 on the
    university's own host journal.ugm.ac.id. OJS is PKP's software; the deployment, the host, the
    journals and the administration (bpp.jurnal@ugm.ac.id) are UGM's. Five metadata prefixes are
    offered: oai_dc, marcxml, oai_marc, nlm and rfc1807. Anonymous and unauthenticated. Articles
    carry Crossref DOIs under UGM's own prefix 10.22146.
    NOTE - written by API Evangelist from live protocol responses; a derived contract, not an
    institution-authored one.
  contact:
    name: UGM Journal Management (BPP)
    email: bpp.jurnal@ugm.ac.id
    url: https://journal.ugm.ac.id/
servers:
  - url: https://journal.ugm.ac.id
    description: Production. Verified 2026-09-01.
paths:
  /index/oai:
    get:
      operationId: oaiRequestAllJournals
      summary: OAI-PMH 2.0 request across every UGM journal
      description: >-
        Site-wide OAI-PMH interface. `verb` selects the operation; each journal and section is
        exposed as an OAI set. Also reachable as /index.php/index/oai. gzip and deflate response
        compression are advertised in Identify.
      tags: [OAI-PMH]
      parameters:
        - name: verb
          in: query
          required: true
          schema:
            type: string
            enum: [Identify, ListMetadataFormats, ListSets, ListIdentifiers, ListRecords, GetRecord]
        - name: metadataPrefix
          in: query
          required: false
          schema:
            type: string
            enum: [oai_dc, marcxml, oai_marc, nlm, rfc1807]
        - name: identifier
          in: query
          required: false
          description: OAI identifier of a single record, e.g. oai:journal.ugm.ac.id:article/1.
          schema: { type: string }
        - name: set
          in: query
          required: false
          description: setSpec naming one journal or one journal section.
          schema: { type: string }
        - name: from
          in: query
          required: false
          schema: { type: string, format: date-time }
        - name: until
          in: query
          required: false
          schema: { type: string, format: date-time }
        - name: resumptionToken
          in: query
          required: false
          schema: { type: string }
      responses:
        '200':
          description: >-
            An OAI-PMH response document, or an <error> element with a machine-readable code at
            HTTP 200 per the protocol.
          content:
            text/xml:
              schema:
                type: string
                contentMediaType: text/xml
tags:
  - name: OAI-PMH
    description: Open Archives Initiative Protocol for Metadata Harvesting, version 2.0.
x-oai-pmh:
  repository_name: Jurnal Universitas Gadjah Mada
  admin_email: bpp.jurnal@ugm.ac.id
  protocol_version: '2.0'
  deleted_record: persistent
  granularity: YYYY-MM-DDThh:mm:ssZ
  repository_identifier: journal.ugm.ac.id
  sample_identifier: oai:journal.ugm.ac.id:article/1
  software: Open Journal Systems 2.4.8.1
  compression: [gzip, deflate]
  metadata_prefixes: [oai_dc, marcxml, oai_marc, nlm, rfc1807]
  verified: '2026-09-01'
